#----------------------------------DESCRIÇÃO----------------------------------#
#
#  Tema Verde, tipo monitor monocromatico, para Dialog.
#  http://aurelio.net/shell/dialog
#
#  Salvar este arquivocom $HOME/.dialogrc
#  ou definir a variavel $DIALOGRC
#
#-----------------------------------TELA--------------------------------------#
use_shadow						=	OFF
use_colors						=	ON
screen_color					=	(GREEN,BLACK,ON)
#----------------------------------CAIXA--------------------------------------#
dialog_color					=	(BLACK,GREEN,OFF)
title_color						=	(BLACK,GREEN,OFF)
border_color					=	(BLACK,GREEN,OFF)
#----------------------------------BOTÕES-------------------------------------#
button_active_color				=	(BLACK,GREEN,OFF)
button_inactive_color			=	(BLACK,GREEN,OFF)
button_key_active_color			=	(GREEN,BLACK,OFF)
button_key_inactive_color		=	(BLACK,GREEN,OFF)
button_label_active_color		=	(GREEN,BLACK,OFF)
button_label_inactive_color		=	(BLACK,GREEN,OFF)
#---------------------------------ENTRADA-------------------------------------#
inputbox_color					=	(GREEN,BLACK,ON)
inputbox_border_color			=	(GREEN,BLACK,ON)
#-----------------------------CAIXA DE TEXTO----------------------------------#
searchbox_color					=	(GREEN,BLACK,ON)
searchbox_title_color			=	(GREEN,BLACK,OFF)
searchbox_border_color			=	(GREEN,BLACK,OFF)
position_indicator_color		=	(BLACK,GREEN,OFF)
#-----------------------------CAIXA DE MENU-----------------------------------#
menubox_color					=	(GREEN,BLACK,OFF)
menubox_border_color			=	(GREEN,BLACK,OFF)
#-----------------------------JANELA DO MENU----------------------------------#
item_color						=	(GREEN,BLACK,OFF)
item_selected_color				=	(BLACK,GREEN,OFF)
tag_color						=	(GREEN,BLACK,OFF)
tag_selected_color				=	(BLACK,GREEN,OFF)
tag_key_color					=	(GREEN,BLACK,OFF)
tag_key_selected_color			=	(BLACK,GREEN,OFF)
check_color						=	(GREEN,BLACK,OFF)
check_selected_color			=	(BLACK,GREEN,OFF)
uarrow_color					=	(GREEN,BLACK,ON)
darrow_color					=	(GREEN,BLACK,ON)
#--------------------------AJUDA DO MENU DE ITEM------------------------------#
itemhelp_color					=	(GREEN,BLACK,ON)
